body {
    background-color: #374158;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* haut de page */

header {
    display: flex;
    flex-direction: row;
    background-color: #D9D9D9;
   
}

.title {
    padding-top: 9vh;
    color: #D76C58;
    width: 70%;
}

.connexion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9vh;
    width: 17vh;
    height: 3vh;
    border: solid 1px whitesmoke;
    border-radius: 25px;
    background-color: whitesmoke;
    box-shadow: 1px 1px ;
}

/* navbar */

nav {
    background-color: #D9D9D9;
    width: 100%;
    position: sticky;
    top: 0px;
}

a{
    text-decoration: none;
    color: black;
    padding: 10px 0px;
}

a:hover {
    color: #D76C58;
    border-bottom: 2px solid #D76C58;
}

li{
    list-style: none;
   padding-left: 9%;
    padding-right: 9%;
    padding-top: 2vh;
    padding-bottom: 2vh; 
    width: 25%;
    text-align: center;
    
}

ul::after{
    content: "";
    display: table;
    clear: both;
}

ul {
    display: flex;
    flex-direction: row;
}

.sous {
    display: none;
    background-color: white;
    box-shadow: 0px 1px 2px;
    position: absolute;
    width: 100%;
    z-index: 1000;

}

li:hover .sous{
    display: block;
}

.sous li {
    width: 100%;
    text-align: left;
}

.sous a {
    padding: 10px;
    float: none;
}



/* Corps page */

.imageAcceuilChienChat {
    margin-top: 4vh;
    max-width: 80%;
}

.photo {
    display: flex;
    justify-content: center;
   
}


/* News products */

.newProducts {
margin-top: 10vh;
margin-left: 5vh;
}

.boxNewProducts{
    display: flex;
flex-direction: row;
align-items: center;
}

.newProduct1 {
    border: 0.1rem;
    border-radius: 40px;
    height: 100%;
    width: 100%;
    padding: 8vh;
    margin: 2vh;
    background-color: #FFFFFF;
    font-size: 2rem;
    padding: 2vh;
}

.croquettes {
    height: 15vh;
}

/* footer */
footer {
    display: flex;
    flex-direction: row;
    background-color: #222D41;
}

.foot {
    margin: 2vh;
    justify-content: space-between;
}