.titleCroquetteCat{
    margin-left: 3vh;
}

/* product */

.containerCroquettesCat {
display: flex;
flex-wrap: wrap;
padding-bottom: 2vh;
}

.contCroquettesCat {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    opacity: 0.80 ;
    border-radius: 20px;
    margin:2vh;
    min-width: 30%;
}

.imgCroqCat {
width: 80%;
}